.App {
  text-align: center;
  margin: 5px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Gravitas One';
  color: #0D1821;
  font-size: 1.5rem;
  background-color: #B4CDED;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}



.App-link {
  color: #61dafb;
}
p {
  font-family: 'Gravitas One';
  color: black;
  font-size: 1.25rem;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
