.outputTable 
{
  background-color:#B4CDED;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom:10px;
  font-family: 'Gravitas One';
  padding-bottom: 20px;
}

table, th, td
{
    border: 2px solid black;
    padding: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
.trashcan
{
    border-radius: 5px;
    border: 3px solid #305b94;
    font-family: 'Times New Roman';
}
.trashcan:hover
{
    background-color: #84b2ed;
}

.trashcan:active
{
    border-color: darkred;
    background-color: red;
}